html, body
  font-size $font
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
  font-weight 300
ul, ol, li
  margin 0
  padding 0
  list-style none