html, body
  font-size $font
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
  font-weight 300
ul, ol, li, h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
ul, ol, li
  list-style none
.ant-table-thead > tr > th
  // padding 12px
.ant-table-tbody > tr > td
  padding 10px